<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    /* Unable to preventDefault inside passive event listener due to target being treated as passive */
    * {
      touch-action: none;
    }

    body,
    ul,
    li {
      margin: 0;
      padding: 0;
    }

    ul {
      list-style: none;
    }

    body {
      font: 13px/1.5 Tahoma;
      width: 100%;
      height: 100%
    }

    html {
      width: 100%;
      height: 100%
    }

    #box {
      position: relative;
      width: 100%;
      height: 100%;
    }

    #box li {
      float: left;
      width: 100%;
      height: 50px;
      overflow: hidden;
      background: #ccc;
      border: 2px solid #999999;
    }

    #box li.hig {
      width: 100%;
      height: 50px;
      overflow: hidden;
      border: 2px dashed blue;
    }
  </style>
</head>

<body>
  <ul id="box"></ul>
  <script>
    let zIndex = 1
    window.onload = function () {
      let oBox = document.getElementById("box")
      let aLi = oBox.getElementsByTagName("li")
      let aPos = []
      let aData = []
      for (let i = 0; i < 6; i++) {
        aData.push(i + 1)
      }
      //插入结构
      let oFragment = document.createDocumentFragment()
      for (let i = 0; i < aData.length; i++) {
        let oLi = document.createElement("li")
        oLi.innerHTML = i + 1
        oFragment.appendChild(oLi)
      }
      oBox.appendChild(oFragment)
      //布局转换
      for (let i = 0; i < aLi.length; i++) {
        aLi[i].index = i
        aLi[i].style.top = Math.ceil(aLi[i].offsetTop) + "px"
        aLi[i].style.left = Math.ceil(aLi[i].offsetLeft) + "px"
        aLi[i].style.margin = "0 5px 5px 0"
        aPos.push({
          "left": aLi[i].offsetLeft,
          "top": aLi[i].offsetTop
        })
      }
      for (let i = 0; i < aLi.length; i++) {
        aLi[i].style.position = "absolute"
        drag(aLi[i])
      }

      //拖拽函数
      function drag(obj, handle) {
        let newHandle = handle || obj
        newHandle.style.cursor = "move"
        newHandle.onmousedown = newHandle.ontouchstart = function (evt) {
          let event = evt || window.event
          let disX, disY
          if (event.type == 'touchstart') {
            let touch = event.touches[0]
            disX = Number(touch.pageX) - this.offsetLeft
            disY = Number(touch.pageY) - this.offsetTop
          } else {
            disX = event.clientX - this.offsetLeft
            disY = event.clientY - this.offsetTop
          }
          let oNear = null
          obj.style.zIndex = zIndex++
          document.onmousemove = document.ontouchmove = function (evt) {
            let event = evt || window.event
            let iL, iT
            if (event.type == 'touchmove') {
              let touch = event.touches[0]
              iL = Number(touch.pageX) - disX
              iT = Number(touch.pageY) - disY
            } else {
              iL = event.clientX - disX
              iT = event.clientY - disY
            }

            let maxL = obj.parentNode.clientWidth - obj.offsetWidth
            let maxT = obj.parentNode.clientHeight - obj.offsetHeight

            iL < 0 && (iL = 0)
            iT < 0 && (iT = 0)
            iL > maxL && (iL = maxL)
            iT > maxT && (iT = maxT)
            obj.style.left = Math.ceil(iL) + "px"
            obj.style.top = Math.ceil(iT) + "px"

            for (i = 0; i < aLi.length; i++) {
              aLi[i].className = ""
            }

            oNear = findNearest(obj)

            oNear && (oNear.className = "hig")

            return false
          }
          document.onmouseup = document.ontouchend = function () {
            document.onmousemove = document.ontouchmove = null
            document.onmouseup = document.ontouchend = null
            if (oNear) {
              let tIndex = obj.index
              obj.index = oNear.index
              oNear.index = tIndex
              startMove(obj, aPos[obj.index])
              startMove(oNear, aPos[oNear.index], function () { })
              oNear.className = ""
              let data = [Number(obj.index) + 1, Number(oNear.index) + 1]
              let minNumber = Math.min.apply(Math, data)
              let maxNumber = Math.max.apply(Math, data)
              changeArraryElement(aData, minNumber, maxNumber)
              console.log('data之后', aData)
            } else {
              startMove(obj, aPos[obj.index])
            }
            newHandle.releaseCapture && newHandle.releaseCapture()
            // console.log('aData',aData)
            // console.log('aPos',aPos)
          }
          this.setCapture && this.setCapture()
          return false
        }
      }

      //找出相遇点中最近的元素
      function findNearest(obj) {
        let filterLi = []
        let aDistance = []
        for (let i = 0; i < aLi.length; i++) {
          aLi[i] != obj && (isButt(obj, aLi[i]) && (aDistance.push(getDistance(obj, aLi[i])), filterLi.push(aLi[i])))
        }
        let minNum = Number.MAX_VALUE
        let minLi = null
        for (let i = 0; i < aDistance.length; i++) {
          aDistance[i] < minNum && (minNum = aDistance[i], minLi = filterLi[i])
        }
        return minLi
      }
    }

    //求两点之间的距离
    function getDistance(obj1, obj2) {
      let a = (obj1.offsetLeft + obj1.offsetWidth / 2) - (obj2.offsetLeft + obj2.offsetWidth / 2)
      let b = (obj1.offsetTop + obj1.offsetHeight / 2) - (obj2.offsetTop + obj2.offsetHeight / 2)
      return Math.sqrt(a * a + b * b)
    }

    //碰撞检测
    function isButt(obj1, obj2) {
      let l1 = obj1.offsetLeft
      let t1 = obj1.offsetTop
      let r1 = obj1.offsetLeft + obj1.offsetWidth
      let b1 = obj1.offsetTop + obj1.offsetHeight

      let l2 = obj2.offsetLeft
      let t2 = obj2.offsetTop
      let r2 = obj2.offsetLeft + obj2.offsetWidth
      let b2 = obj2.offsetTop + obj2.offsetHeight

      return !(r1 < l2 || b1 < t2 || r2 < l1 || b2 < t1)
    }

    //获取最终样式
    function getStyle(obj, attr) {
      return parseFloat(obj.currentStyle ? obj.currentStyle[attr] : getComputedStyle(obj, null)[attr])
    }

    //运动框架
    function startMove(obj, pos, onEnd) {
      clearInterval(obj.timer)
      obj.timer = setInterval(function () {
        doMove(obj, pos, onEnd)
      }, 30)
    }

    function doMove(obj, pos, onEnd) {
      let iCurL = getStyle(obj, "left")
      let iCurT = getStyle(obj, "top")
      let iSpeedL = (pos.left - iCurL) / 5
      let iSpeedT = (pos.top - iCurT) / 5
      iSpeedL = iSpeedL > 0 ? Math.ceil(iSpeedL) : Math.floor(iSpeedL)
      iSpeedT = iSpeedT > 0 ? Math.ceil(iSpeedT) : Math.floor(iSpeedT)
      if (pos.left == iCurL && pos.top == iCurT) {
        clearInterval(obj.timer)
        onEnd && onEnd()
      } else {
        obj.style.left = Math.ceil(iCurL + iSpeedL) + "px"
        obj.style.top = Math.ceil(iCurT + iSpeedT) + "px"
      }
    }

    //交换第几个元素的数组操作,注意：x>y
    function changeArraryElement(arr1, x1, y1) {
      let arr = arr1
      let x = x1, y = y1
      arr.splice(x - 1, 1, ...arr.splice(y - 1, 1, arr[x - 1]))
      return arr
    }
  </script>
</body>

</html>