.component-tag {
  width: 7.2rem;
  height: 2.2rem;
  margin: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  background-color: #f5f7fa;

  &:hover {
    color: #1890ff;
    border: 1px dashed #1890ff;
  }
}