.r {
  &-table {
    table-layout: auto;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 13px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    /*去掉单元格间隙*/
    border-spacing: 0;

    &-body {
      background-color: #fff;
    }

    &-row {}

    &-head {
      background-color: lightgray;
    }

    &-cell {
      padding: 8px 16px;
      border-bottom: 1px solid #999;
      border-right: 1px solid #999;
    }
  }
}