.custom-list-item {
  padding: 8px;
  &--horizontal {
    display: flex;
    align-items: flex-start;
  }

  &--inline {
    display: inline-flex;
  }

  &--horizontal &__header,
  &--inline &__header {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
  }

  &--horizontal &__container,
  &--inline &__container {
    margin-top: auto;
    margin-bottom: auto;
  }

  &__header {
    margin-right: 8px;
    font-size: 14px;
    width: 120px;
    word-break: break-all;
    word-wrap: break-word;

    &::before {
      display: none;
      content: "*";
      color: red;
    }
  }

  &--required &__header::before {
    display: inline;
    content: "*";
    color: red;
  }

  &__container {
    position: relative;
    word-break: break-all;
    word-wrap: break-word;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__footer {
    margin-left: 10px;
    font-size: 14px;
  }

  &--compact {
    margin-bottom: 0;
  }
}
