.form-wrapper.row {
  margin-left: 0;
  margin-right: 0;
  align-content: flex-start;
  height: 100%;
}

.rh-form-field,
.rh-form-list {
  margin: 8px 0;
  min-height: 32px;

  .field-inner {
    &--horizontal {
      display: flex;
      align-items: flex-start;
    }
  }

  .field-inner--horizontal>.item-label__header {
    text-align: right;
    margin-top: 5px;
    margin-right: 8px;
  }

  // 当在列表中为相邻元素时，因为Col标签带有padding，所以footer也添加padding对齐
  &+.item-control__footer {
    padding-left: 8px;
  }

  &--compact {
    margin-bottom: 0;
  }
}